.nav{
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.project-title a{
    text-decoration: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    .nav a{
        text-align: center;
    }
    .nav button{
        background-color: white;
    }
    .navbar-collapse{
        background-color: white;
    }
    .nav img{
        margin-left: 45%;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .nav a{
        text-align: center;
    }  
    .nav button{
        background-color: white;
    }
    .nav img{
        margin-left: 45%;
    }
}
